html,
body {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 20px;
}

.text-center {
    text-align: center;
}

ul {
    list-style-type: none;
}

.weather-table-row {
    border: medium solid green;
    width: 10%;
    padding: 8px;
}


.button-primary {
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 30px;
}