html,
body {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 30px;
}

.text-center {
    text-align: center;
}

ul {
    list-style-type: none;
    right: 70%;
    padding: 0;
    margin: 0;
}

.weather-table-row {
    border: medium solid green;
    width: 10%;
    padding: 8px;
    min-width: max-content;
}

.icon li {
    display: flex;
    justify-content: center;
}



.button-primary {
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 30px;
    position: relative;
}